<div class="myCard">
  <mat-form-field class="example-form-field">
    <mat-label>Select Type</mat-label>
    <mat-select [(ngModel)]="selectedValue" (ngModelChange)="onchange($event)" name="selectedValue">
      <mat-option *ngFor="let item of types" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div [ngSwitch]="selectedValue" class="myCard">

  <form action="" [formGroup]="form1" class="dFlexRow" *ngSwitchCase="'a'" (ngSubmit)="submitdata('a')">
    <h4>First Form</h4>
    <div class="dFlexCol">
      <mat-form-field class="example-form-field">
        <mat-label>Amount</mat-label>
        <input matInput type="text" [(ngModel)]="value" formControlName="amount">
        <mat-icon *ngIf="value" matSuffix (click)="value=''" aria-label="Clear">close</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Id</mat-label>
        <input matInput type="text" [(ngModel)]="value1" formControlName="id" readonly="true">
        <mat-icon *ngIf="!value1" matSuffix (click)="value1=generateRandomCode()" aria-label="Clear">generating_tokens</mat-icon>
        <mat-icon *ngIf="value1" matSuffix (click)="value1=''" aria-label="Clear">close</mat-icon>
      </mat-form-field>
    </div>
    <h4>Second Form</h4>
    <div class="dFlexCol">
      <mat-form-field class="example-form-field">
        <mat-label>Amount</mat-label>
        <input matInput type="text" [(ngModel)]="value2" formControlName="amount1">
        <mat-icon *ngIf="value2" matSuffix (click)="value2=''" aria-label="Clear">close</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Id</mat-label>
        <input matInput type="text" [(ngModel)]="value3" formControlName="id1" readonly="true">
        <mat-icon *ngIf="!value3" matSuffix (click)="value3=generateRandomCode()" aria-label="Clear">generating_tokens</mat-icon>
        <mat-icon *ngIf="value3" matSuffix (click)="value3=''" aria-label="Clear">close</mat-icon>
      </mat-form-field>
    </div>
    <button mat-flat-button type="submit" class="myButton" color="primary">Submit</button>
  </form>

  <form action="" [formGroup]="form2" *ngSwitchCase="'b'" (ngSubmit)="submitdata('b')" class="dFlexRow">
    <h4>Single Form</h4>
    <mat-form-field class="example-form-field">
      <mat-label>Amount</mat-label>
      <input matInput type="text" [(ngModel)]="value" formControlName="amount">
      <mat-icon *ngIf="value" matSuffix (click)="value=''" aria-label="Clear">close</mat-icon>
    </mat-form-field>
    <button mat-flat-button type="submit" class="myButton" color="primary">Submit</button>
  </form>

  <form action="" [formGroup]="form3" *ngSwitchCase="'c'" (ngSubmit)="submitdata('c')" class="dFlexRow">
    <h4>Single Form</h4>
    <mat-form-field class="example-form-field">
      <mat-label>Amount Per Unit</mat-label>
      <input matInput type="text" [(ngModel)]="value" formControlName="amountPerUnit">
      <mat-icon *ngIf="value" matSuffix (click)="value=''" aria-label="Clear">close</mat-icon>
    </mat-form-field>
    <button mat-flat-button type="submit" class="myButton" color="primary">Submit</button>
  </form>

</div>